﻿<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.allUsers">
            <td>{{$index + 1}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td><a class="btn btn-danger" ng-click="vm.deleteUser(user.id)">Delete</a></td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>